# Gemeinfrei. Public Domain.
#
# run.awk @System.config make.awk

function configure_make_awk(    __,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z) {

    for (c = 0; c < ARGC; ++c) if (ARGV[c] == "+easy") EASY = 1
    if (EASY) __error("EASY: Dieses APT hat Super-Kuh-Kräfte.")

    ARGV[ARGC++] = "+debug"

    ARGV[ARGC++] = "project=System"
    ARGV[ARGC++] = "-std"
    ARGV[ARGC++] = "+shared"
    ARGV[ARGC++] = "include/"
    ARGV[ARGC++] = "source/"
    ARGV[ARGC++] = "compile"
    ARGV[ARGC++] = "source/AMD64/Linux/GAS/System.Syscall.gas.S"
    ARGV[ARGC++] = "source/AMD64/Linux/GAS/System.Integers.gas.S"
    ARGV[ARGC++] = "source/AMD64/Linux/GAS/System.ELF64Assembly.jump.gas.S"
    ARGV[ARGC++] = "source/AMD64/Linux/GAS/System.Thread.boot.gas.S"
    ARGV[ARGC++] = "source/AMD64/Linux/GAS/System.Syscall.sigreturn.gas.S"
    ARGV[ARGC++] = "source/System.core.c"
    ARGV[ARGC++] = "library"
    ARGV[ARGC++] = "document"
    ARGV[ARGC++] = "executable"
    ARGV[ARGC++] = "source/main/System.Runtime.shared.c"
    ARGV[ARGC++] = "source/main/System.Interpreter.c"

    if (!EASY) {
        ARGV[ARGC++] = "source/main/test/System.Exception.test.c"
        ARGV[ARGC++] = "source/main/test/System.File.test.c"
        ARGV[ARGC++] = "source/main/test/System.FileInfo.test.c"
        ARGV[ARGC++] = "source/main/test/System.Math.test.c"
        ARGV[ARGC++] = "source/main/test/System.Path.test.c"
        ARGV[ARGC++] = "source/main/test/System.Signal.test.c"
        ARGV[ARGC++] = "source/main/test/System.String8.test.c"
        ARGV[ARGC++] = "source/main/test/System.Syscall.test.c"
        ARGV[ARGC++] = "source/main/test/System.Terminal.test.c"
        ARGV[ARGC++] = "source/main/test/System.Thread.test.c"
        ARGV[ARGC++] = "source/main/test/System.Integers.test.c"
    }
    ARGV[ARGC++] = "source/main/test/ECQLite.test.c"
    ARGV[ARGC++] = "source/main/test/System.Memory.test.c"
    ARGV[ARGC++] = "source/main/test/System.MemoryStream.test.c"
    ARGV[ARGC++] = "source/main/test/System.Directory.test.c"

    if (!EASY) ARGV[ARGC++] = "source/main/SipHash48.c"
    if (!EASY) ARGV[ARGC++] = "source/main/CubeHash512.c"
    if (!EASY) ARGV[ARGC++] = "source/main/CubeHash256.c"
    if (!EASY) ARGV[ARGC++] = "source/main/Shell1.c"
    if (!EASY) ARGV[ARGC++] = "source/main/WebService2.c"
    if (!EASY) ARGV[ARGC++] = "source/main/Eratosthenes.c"
    if (!EASY) ARGV[ARGC++] = "source/main/ELFAssembly.read.c"
    ARGV[ARGC++] = "source/main/WebService3.c"
    ARGV[ARGC++] = "source/main/ECQLite1.c"

}
