# Gemeinfrei. Public Domain.
#
# run.awk @System.Extension.config make.awk

function configure_make_awk() {

ARGV[ARGC++] = "-std"
ARGV[ARGC++] = "+shared"
ARGV[ARGC++] = "+debug"
ARGV[ARGC++] = "project=Extension"
ARGV[ARGC++] = "include/"
ARGV[ARGC++] = "source/"
ARGV[ARGC++] = "precompile"
ARGV[ARGC++] = "source/main/Extension.c"
ARGV[ARGC++] = "compile"
ARGV[ARGC++] = "library"

}
